* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
/* for arabic transition */
.Ar {
  direction: rtl;
}

body {
  width: 100vw;
  overflow-x: hidden;
}
/*  tp prevent scrolling when side bar is active */
.overActive {
  height: 100vh;
  overflow: hidden;
}
.MainNav {
  position: relative;
  min-height: 35vw;
  max-height: fit-content;
  padding: 0 0 15vh 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2vw;
}
.MainNav::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../public/pics/image.png) no-repeat 50% 30%;
  background-size: cover;
  z-index: -1;
}
.Ar .MainNav::before {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.MainNavBarClass {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 25px 50px;
  z-index: 4;
}
.NavBarRight {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.faBars {
  display: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 5;
}

/* side Bar Styling */
.activeAr {
  position: absolute;
  width: 80vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(7, 7, 7, 0.805);
  z-index: 4;
}
.MainNavBarClass .active {
  position: absolute;
  width: 80vw;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: rgba(7, 7, 7, 0.805);
  z-index: 4;
}

.SideBar {
  display: flex !important;
  margin-top: 15vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.ClosingSideBarAr,
.ClosingSideBar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 20vw;
  z-index: 5;
  background-color: rgba(166, 143, 108, 0.729);
  display: flex;
  justify-content: center;
  align-items: center;
}
.ClosingSideBarAr span,
.ClosingSideBar span {
  rotate: -90deg;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  font-size: 32px;
}
.ClosingSideBarAr span {
  rotate: 90deg;
}
.ClosingSideBarAr {
  right: 0;
}
.ClosingSideBar {
  left: 0;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .NavBarRight a {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .NavBarRight {
    display: none;
  }
  .faBars {
    display: block;
  }
  .MainNavBarClass .active,
  .activeAr {
    width: 70vw;
  }
  .ClosingSideBar,
  .ClosingSideBarAr {
    width: 30vw;
  }
}
@media screen and (min-width: 768px) {
  .MainNavBarClass .active,
  .activeAr {
    display: none !important;
  }

  .ClosingSideBar,
  .ClosingSideBarAr {
    display: none !important;
  }
}
hr {
  width: calc(100vw - 100px);
  background-color: rgb(100, 100, 100);
  border-color: rgb(100, 100, 100);
  height: 3px;
  margin: 10vh auto;
}

.TitleExplore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 50px 0;
}
.TitleExplore h3 {
  color: white;
  font-size: 28px;
  font-weight: bold;
}
.TitleExplore a {
  color: black;
  background-color: #ffb870;
  border-radius: 35px;
  padding: 20px;
  font-size: 18px;
}

/* sliderStart */
.MainContentSlider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 30px 50px;
}
.MainContentSlider img {
  border-radius: 20px 20px 0 0;
}
.OurShopAr h3 {
  position: relative;
}
.OurShopAr h3:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 3px;
  bottom: -10px;
  background-color: #ffb870;
}
.OurShopAr h3:hover:before {
  content: "";
  transition: 2s;
  position: absolute;
  width: 80px;
  height: 3px;
  bottom: -10px;
  background-color: #ffb870;
}
.MainContentSlider .OurShopClass h3 {
  color: #000 !important;
  text-shadow: 2px 2px 2px black;
  font-size: 28px;
}
.MainContentSlider .underSlidesContent {
  background-color: black;
  color: white !important;
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
  border-radius: 0 0 20px 20px;
  align-items: center;
  margin-top: -10px;
}
.MainContentSlider .underSlidesContent h3 {
  color: white !important;
  font-size: 28px;
  padding-bottom: 5px;
}
.MainContentSlider .underSlidesContent a {
  border: 1px solid white;
  padding: 10px;
  font-size: 12px;
}
@media screen and (max-width: 768px) {
  .MainContentSlider .OurShopClass h3 {
    font-size: 18px;
  }
  .MainContentSlider .underSlidesContent {
    padding: 20px 10px;
  }
  .MainContentSlider .underSlidesContent h3,
  h4 {
    font-size: 12px;
  }
  .MainContentSlider .underSlidesContent a {
    padding: 5px;
    font-size: 10px;
  }
}
